@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');

.button {
  border: none;
  background-color: #f76c6c;
  border-color: #f76c6c;
  width: 85%;
  vertical-align: middle;
  padding-top: 1%;
  transition: 0.3s;
  height: 6vh;
}

.button:hover {
  background-color: #e74f4f;
}

.button:active {
  background-color: #f8e9a1;
}

.button:active h4 {
  color: #112d32;
}

.content-info {
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.pre {
  color: blue;
}
