@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.header {
  height: 10vh;
  background-color: #112d32;
}

.footer {
  height: 5vh;
  background-color: #112d32;
}

.header h1 {
  color: white;
  text-transform: uppercase;
  line-height: 10vh;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.footer h4 {
  color: white;
  text-transform: lowercase;
  text-align: left;
  padding-left: 5%;
  line-height: 5vh;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.parent {
  display: flex;
  flex-direction: row;
}

.buttons {
  position: fixed;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main {
  margin-left: 5%;
}

.manager {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.dynamic {
  /* border: 2px solid #f76c6c; */
  background-color: #002b36;
  margin-left: 5%;
  width: 475px;
  height: 575px;
  padding: 1%;
}

.good {
  background-color: #002b36;
  margin-left: 5%;
  width: 475px;
  height: 575px;
  padding: 1%;
}

h6 {
  color: #f8e9a1;
  text-align: left;
}

.good h4 {
  line-height: 500px;
  color: white;
}

p {
  color: white;
}
